.place__title {
  grid-row: 1;
  grid-column: 1;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  max-height: 152px;
  min-height: 76px;
  text-overflow: clip;
  overflow: hidden;
}
