.photo-grid {
  width: 1184px;
  height: 442px;
  margin: 0 auto 0 auto;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  row-gap: 16px;
  column-gap: 16px;
}
