.places {
  padding-top: min(92px, calc(5.803571428vw + 43.4285714286px));
  padding-bottom: min(92px, calc(6.25vw + 44px));
  display: flex;
  flex-direction: column;
  gap: min(80px, calc(9.375vw));
}
