.place__button {
  grid-row: 3;
  grid-column: 1;
  width: 355px;
  height: 48px;
  left: 0px;

  background: #0278fe;
  border-radius: 4px;
  border-color: transparent;

  font-weight: 600;
  font-size: 18px;
  line-height: 22px;

  transition: background 0.5s linear;
}

.place__button:hover {
  background: #0063d2;
}
