.cover__subtitle {
  background: transparent;

  width: 280px;

  font-weight: 400;
  font-size: min(18px, calc((14 / 320) * 100vw));
  line-height: 1.22;
  text-align: center;
  z-index: 2;
}

@media screen and (max-width: 544px) {
  .cover__subtitle {
    line-height: calc(16 / 14);
  }
}
