.place__text {
  grid-area: text;

  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 25px;
}

@media screen and (max-width: 544px) {
  .place__text {
    width: 90vw;
    margin: 0 auto;
  }
}
