:root {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}

* {
  margin: 0;
  padding: 0;
  background-color: #2a2c2f;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}
