.cover {
  width: min(1184px, 100%);
  height: min(740px, 96.35vw);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .cover {
    height: calc(109.821428571vw - 97.4285714286px);
  }
}
