.intro__title {
  font-style: normal;
  font-weight: 900;
  font-size: min(54px, calc(4.91vw + 16.28px));
  line-height: min(58px, calc(5.13vw + 18.57px));

  /* dimension*/
  margin-bottom: min(40px, calc(6.927vw - 13.14px));
  width: 1017px;
}

@media screen and (max-width: 1130px) {
  .intro__title {
    width: 100%;
  }
}
